.main-btn {
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    text-transform: capitalize;
    padding: 23px 40px;
    letter-spacing: 0.6px;
    font-weight: 600;
    background: linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
    line-height: 10px;
    border: none;
    border-radius: 30px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s;
    
    &:hover {
        color: #1461ff;
        background: #fff;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
    }
}