.social-media-button {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
    
    &:hover {
        background: #fff;
        border-color: #fff;
        color: #1461ff;
    }
}