@import '../../../variables.scss';

.filter {
    ul {
        padding: 0;
        list-style: none;
        margin-bottom: 30px;
        li {
            font-weight: 600;
            text-transform: capitalize;
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            border-radius: 30px;
            padding: 7px 20px;
            letter-spacing: 1px;
            background: #fafafa;
            margin: 0 5px 20px;
            transition: all 0.5s ease-in-out;
        }
    }
    .active {
        color: #fff;
        border-color: $primaryColor;
        background: $primaryColor;
    }
}