.navbary {
    background-color: red ;
    height: 56px;
}

.carouselly {
    max-height: calc(100vh - 56px);
}

.carouselly img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}