::-webkit-scrollbar {
  width: 8px;
  @media screen and (max-width: 960px) {
    width: 3px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1fe7; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(199, 199, 199, 0.685); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}